
*.py[co]

# Packages *.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg
scratch
env
flask
bower_components
tmp
venv
# Installer logs
pip-log.txt
# Unit test / coverage reports
.coverage
.tox
.DS_Store
# Sphinx
docs/tmp
docs/_build
cover
fabconf.py
# Cache

#Configurations
*.tar
.idea
.eggs
.cache
